body {
    margin: 0;
    padding: 0;
}

.innerOuter {
    display: flex;
    justify-content: center;
}

.outer-container h2 {
    text-align: center;
}

#message-Area {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 460px;
}

.dateTime {
    color: gray;
}

.roomName {
    text-align: center;
}

.roomsdata {
    height: 500px;
    width: 150px;
    background-color: whitesmoke;
    padding: 0px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
    overflow-y: scroll;
}

.roomsdata h3 {
    text-align: center;
    padding: 5px 0px;
    color: whitesmoke;
    background-color: rgb(131, 131, 240);
    font-weight: 600;
    letter-spacing: 1px;
    font-weight: 550;
    text-wrap: nowrap;
}




.main-chat-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 500px;
    width: 600px;
    position: relative;
    background-color: whitesmoke;
}

.sendMessageField {
    display: flex;
    justify-content: end;
    position: absolute;
    bottom: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sendtextMessage {
    height: 37px;
    width: 597px;
    text-indent: 10px;
    border: none;
    z-index: 1;
}

.sendtextMessage:focus {
    outline: none;
}

.sendtextMessage::placeholder {
    font-size: 16px;
    font-style: italic;
}

#sendbtn {
    padding: 10px 20px;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 600;
    background-color: #3279a8;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
}

#sendbtn:disabled {
    opacity: 0.5;
}


.outgoingMessage {
    text-align: right;
    color: black;
    margin: 0px 8px;

}

.time {
    font-size: 14px;
    margin-top: 0;
}

.outgoingMessage h4 {
    padding: 7px 4px;
    background-color: #79b0c9;
    border-radius: 10px;
    text-align: right;
}

.logout {
    width: fit-content;
    margin-right: 20px;
    padding: 8px 8px;
    background-color: rgb(73, 73, 235);
    color: white;
    float: right;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
}

.datauserName {
    /* margin: 5px 5px; */
    /* padding: auto; */
    font-size: 12px;
    color: white;
}

.incomingMessage {
    color: black;
    margin: 0px 8px;
}

.date {
    text-align: center;
    padding: 10px 10px;
    letter-spacing: 1px;
}

.incomingMessage h4 {
    text-align: left;
    padding: 7px 4px;
    border-radius: 10px;
    background-color: #bfd2db;
}

@media screen and (max-width: 768px) and (min-width: 600px) {
    .main-chat-container {
        width: 450px;
    }

    .sendtextMessage {
        width: 447px;
    }

    .roomsdata {
        width: 130px;
    }

    .outgoingMessage {
        margin: 0px 20px;
    }

    .incomingMessage {
        margin: 0px 20px;
    }

}

@media screen and (max-width:600px) and (min-width: 500px) {

    .main-chat-container {
        width: 350px;
    }

    .sendtextMessage {
        width: 347px;
    }

    .roomsdata {
        width: 130px;
    }

    .roomsdata h3 {
        font-size: 14px;
        text-wrap: wrap;

    }

    .outgoingMessage {
        margin: 0px 20px;
    }

    .incomingMessage {
        margin: 0px 20px;
    }
}

@media screen and (max-width: 500px) and (min-width: 425px) {

    .roomsdata {
        width: 100px;
    }

    .roomsdata h3 {
        font-size: 11px;
        text-wrap: wrap;
    }

    .main-chat-container {
        width: 290px;
    }

    .sendtextMessage {
        width: 287px;
    }

}

@media screen and (max-width: 425px) {

    .innerOuter {
        justify-content: center;
        flex-direction: column-reverse;
        row-gap: 40px;
    }

    .main-chat-container {
        width: 100%;
    }

    .sendtextMessage {
        width: 97%;
    }

    #sendbtn {
        position: absolute;
        right: 0;
    }

    .roomsdata {
        width: 90%;
        margin-left: 8px;
    }
}